[Unit]
Description=MIRS - Medical Inventory Resource System
Documentation=https://github.com/cutemo0953/MIRS
After=network.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/MIRS
Environment="PATH=/home/pi/MIRS/venv/bin:/usr/local/bin:/usr/bin:/bin"
ExecStart=/home/pi/MIRS/venv/bin/uvicorn main:app --host 0.0.0.0 --port 8000
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
